<% layout('layouts/boilerplate.ejs') %>

<div class="row">
    <div class="col-10 offset-1">
        <div class="card mb-3">
            <% if (post.image) { %>
                <img src="<%= post.image %> " class="card-img-top" alt="..." crossorigin="anonymous">
            <% } %>
            <div class="card-body">
              <h5 class="card-title"><%= post.title %> </h5>
              <p class="card-text"><%= post.content %></p>
              <p class="card-text text-muted">By <%= post.author.username %> </p>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">Category: <%= post.category %> </li>
                <li class="list-group-item">Likes: <%= post.likes.length %> </li>
              </ul>
            <% if (user) { %>
                <div class="card-body">
                    <div class="d-flex justify-content-between">
                        <div class="d-flex">
                            <form action="/posts/<%= post._id %>/like?_method=POST" method="POST" class="me-2">
                                <button class="btn btn-primary">Like</button>
                            </form>
                        </div>
                        <% if (post.author.equals(user._id)) { %>
                            <div class="d-flex">
                                <a href="/posts/<%= post._id %>/edit" class="btn btn-outline-info me-2">Edit</a>
                                <form action="/posts/<%= post._id %>?_method=DELETE" method="POST">
                                    <button class="btn btn-outline-danger">Delete</button>
                                </form>
                            </div>
                        <% } %>
                    </div>
                </div>
            <% } %>
            
          </div>
    </div>
    
    <% if (user) { %>
        <div class="col-8 offset-1 mb-5">
            <h2>Comment:</h2>
            <form action="/posts/<%= post.id %>/comments" method="POST" class="needs-validation" novalidate>
                <!-- <div class="form-floating mb-3">
                    <input type="text" class="form-control" id="name" placeholder="name" name="comment[author]" required>
                    <label for="name" class="form-label">Username</label>
                </div> -->
                <div class="form-floating mb-3">
                    <textarea class="form-control" id="comment-content" placeholder="comment" name="comment[content]" required></textarea>
                    <label for="comment-content" class="form-label" style="height: 100px">Comment</label>
                </div>
                <button class="btn btn-dark">Submit</button>
            </form>
        </div>
    <% } %>
    

    <div class="col-8 offset-1 mb-">
        <% post.comments.forEach(com => { %>
            <div class="card mb-3">
                <div class="card-header">
                    <h5 class="card-title mt-1"><%= com.author.username %> </h5>
                </div>
                <div class="card-body">
                    <p class="card-text"><%= com.content %> </p>

                    <% if (user && com.author.equals(user._id)) { %>
                        <form action="/posts/<%=post._id%>/comments/<%=com._id%>?_method=DELETE" method="POST">
                            <button class="btn btn-sm btn-danger">Delete</button>
                        </form>
                    <% } %>

                </div>
              </div>
        <% }) %>
        
    </div>
</div>
