<% layout('layouts/boilerplate.ejs') %>

<div class="row">
    <div class="col-6 offset-3">
        <div class="card mb-3">
            <% if (post.img) { %>
                <img src="<%= post.image %> " class="card-img-top" alt="...">
            <% } %>
            <div class="card-body">
              <h5 class="card-title"><%= post.title %> </h5>
              <p class="card-text"><%= post.content %></p>
              <p class="card-text text-muted">By <%= post.author %> </p>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">Category: <%= post.category %> </li>
                <li class="list-group-item">Likes: <%= post.likes %> </li>
              </ul>
            <div class="card-body">
                <div class="d-flex justify-content-between">
                    <a href="/posts/<%= post._id %>/edit" class="btn btn-outline-info">Edit</a>
                    <form action="/posts/<%= post._id %>?_method=DELETE" method="POST">
                        <button class="btn btn-danger">Delete</button>
                    </form>
                </div>
            </div>
          </div>
    </div>
</div>
